
<style type="text/css">

* {
    box-sizing: border-box;
}
body {
	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	//min-width: 230px;
	//max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
}

h1, h2, h3 {
    color: #317eac !important;
    margin-bottom: 0.25em;
    margin-top: 0.75em;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

p {margin:0;}

blockquote {color: purple; 
            border-left:3px solid purple;
            padding-left: .5em;
            margin-left: 10px;
            margin-right: 40px;}

button .icon-clock {fill: grey;}
button:hover > .icon-clock {fill: white;}

/* Navigation Search */
nav ul ul {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008CBA;
    font-weight:bold;
    color: white;
    display: block; //none;
    z-index: 99;
}
nav ul li:hover > ul {
    display: block;
    margin: 8px 16px;
}
nav ul {
    background: #008CBA;//#efefef; 
    padding: 8px 8px 8px 8px;
    list-style: none;
    position: relative;
}
nav ul:after {
    content: ""; clear: both; display: block;
}
nav ul li {
	float: left;
}
nav ul li:hover {
    background:  #008CBA; //#4b545f;
}
nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 8px 16px;
    font-weight: bold;
    color: white; //#757575; 
    text-decoration: none;
}
nav ul ul {
    background: pink; // #5f6975; 
    border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
nav ul ul li {
    float: none; 
    border-top: 1px solid white; //#6b727c;
    //border-bottom: 1px solid #575f6a;
    position: relative;
}
nav ul ul li a {
    padding: 8px 8px;
    color: #fff;
}	
nav ul ul li a:hover {
    background: orange;
}
nav ul ul ul {
    position: absolute; left: 100%; top:0;
}

.typeahead-list {
    list-style-type: none;
    padding: 5px;
    margin-top: 3px;
    border: solid 1px grey;
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    background-color: white;
    overflow-y: scroll;
    max-height: 300px;
    width: 445px}


.typeahead-item {
  padding: 3px;
}
/* Item Search */
#options-container {
    z-index: 99;
    position: absolute;
    overflow-y: scroll;
    max-height: 300px;
    width: 160px;
}
#option {
    padding: 3px;
    width: 160px;
    background-color: white;
    border: 1px solid 64c84b;//#6b727c;
}
#option:hover, #options:focus{
    background-color: yellow;
}

/* Layout */

.column {
    float: left;
    padding: 10px;
}
.column.left {
    width: 25%;
}
.column.middle {
    width: 50%;
}
.column.right {
    width: 25%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Task Steps layout */
#tasks td, #tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}
#tasks tr:nth-child(even){background-color: #f2f2f2;}
#tasks tr:hover {background-color: #ddd;}
#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008CBA;
    color: white;
}
#task .steps-indicator{position:relative}
#task .steps-indicator .connector{
    position:absolute;
    border-left:3px solid #CDCDCD;
    //height:97%;
    left:23px;
    top:2px;
    bottom:38px;
}
#task .steps-indicator .connector.complete{height:0;border-color:#64c84b}
#task .steps-indicator .steps{
    list-style:none;
    counter-reset:numList;
    padding-left:50px;
    margin-top:1rem
}
#task .steps-indicator .steps li{
    position:relative;
    line-height:42px;
    counter-increment: numList;
    margin-bottom:10px
}
#task .steps-indicator .steps li:before{
    color:white;
    position:absolute;
    left:-48px;
    top: 0px;
    text-align:center;
    line-height:38px;
    width:38px;
    height:38px;
    -webkit-border-radius:38px;
    -moz-border-radius:38px;
    border-radius:38px;
    border:3px solid #BBB;
    background:white;
    content:counter(numList);
}
#task .steps-indicator .steps li.active:before{
    border-color:#BBB;
    background-color:white;
    font-size: 2rem;
    color:#8bbb25
}
#task .steps-indicator .steps li.inactive{
    pointer-events:none;
}
#task .steps-indicator .steps li.inactive:before{
    border-color:#CDCDCD;
    background-color:#EEEEEE;
    color:#EEEEEE;
}
#task .steps-indicator .steps li.complete:before{
    border-color:#8bbb25;
    background-color:#8bbb25;
    color:white;
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    font-size: 2.4rem;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    *margin-right:.3em;
    content:"\f00c"
}
#task .steps-indicator .steps li.warning:before{
    border-color:red;
    background-color:red;
    color:white;
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    font-size: 2.4rem;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    *margin-right:.3em;
    content:"\f12a"
}
#task .steps-indicator .steps li:last-child:before{
    line-height:42px;
    font-weight:normal;
    font-style:normal;
    font-size: 2rem;
    color:#8bbb25
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    *margin-right:.3em;
    content:"+"
}
.hidden {
   //display: none;
   visibility: hidden
}

.removable:hover + .hidden, .hidden:hover {
    tabindex: "0";
    display: inline-block;
    visibility: visible
}
a.edit{
    color: #4d4d4d;
}
a.edit:hover + .trash {
    opacity: 1;
}

a.trash, a.trash:visited {
    opacity: 0;
}
a.trash:hover, a.trash:focus, a.trash:active {
    opacity: 1;
}


input:not([type=submit]):not([type=file]):not(type=number) {
    font-size: 16px;
    border: 1px solid white;
    border-bottom: 1px solid green;
}
input[type=textarea]{
    border-radius: 1px;
    font-size: 13px;
    background-color: white;
    color: black;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=search] {
    border-radius: 1px;
    color:black;
    font-size: 16px;
    background-color: white;
    //background-image: url('../icons/searchicon.png');
    //background-position: 10px 10px; 
    //background-repeat: no-repeat;
    //padding: 6px 20px 12px 40px;
}
input[type=text]{
    font-size: 16px;
    color:black;
    background-color:white;
}
/***************/
/* item-lists */
/**************/
ul.items {
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px 10px;
}

/* Panels */
.washed-out{opacity:0.3;}
.date{color:red;}
.white-panel{
    background-color:white;
    padding: 20px;
    border: 1px solid #ebedf1;
    border-radius: 8px;
    margin:5%;
}
.white-panel strong{
    display:block;
    padding-bottom:10px;
}
.blue-panel{
    background-color:#349CD1;
    padding: 20px;
    border: 1px solid #ebedf1;
    border-radius: 8px;
    color:white;
}
a{
    color: black;// #1781F1;
    text-decoration: none;
}
.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 1px solid #c2e1f5;
    font-size: x-small;
  }
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 10px;
    margin-top: -10px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 11px;
    margin-top: -11px;
}
.help-text {
    font-size: 14px;
    font-style: italic;
    color: #888;
}


/***********/
/* buttons */
/***********/

button {
    font-size: 16px;
    font-weight: 600;
    color: #38761d; //#fff;
    background-color: #eee; //#7AB720;
    border: none;
    //border-color: white;
    //border-width: 1px;
}
button.wide {
    width: 100%;
}
button:hover,
button.hover {
    background-color:#38761d; //#346392;
    color: #fff;
}
button:active,
button.active {
    background-color: #27496d;
}


/*****************/
/* modal popovers*/
/*****************/
.modal-header {
  background-color: #f5f5f5;
}
.modal-header.panel-heading {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.modal-wrapper {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1040
}
.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  -webkit-animation: fade-in 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade-in 0.2s; /* Firefox < 16 */
  -ms-animation: fade-in 0.2s; /* Internet Explorer */
  -o-animation: fade-in 0.2s; /* Opera < 12.1 */
  animation: fade-in 0.2s;
}
.modal-child {
  margin: auto;
  margin-top: 30px;
  z-index: 2;
  -webkit-animation: fade-in-child 0.2s;
  -moz-animation: fade-in-child 0.2s;
  -ms-animation: fade-in-child 0.2s;
  -o-animation: fade-in-child 0.2s;
  animation: fade-in-child 0.2s;
}
@keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 0.6;}
}
@keyframes fade-in-child {
  from {opacity: 0;}
  to   {opacity: 1;}
}


/*********************************/
/*            calendar           */
/*********************************/
#calendar {
    font-size: 8px;
    font-weight: 600;
    color: black;
    background-color: #eee;
    border: solid;
    border-color: #7AB720;
    //border-width: 1px;
}

#calendar td {
    text-align: center;
}

.jan {
background-color:#ff0000;
}
.feb {
background-color:#ff8000;
}
.mar {
background-color:#ffff00;
}
.apr {
background-color:#80ff00;
}
.may {
background-color:#00ff00;
}
.jun {
background-color:#00ff80;
}
.jul {
background-color:#00ffff;
}
.aug {
background-color:#0080ff;
}
.sep {
background-color:#0000ff;
}
.oct {
background-color:#8000ff;
}
.nov {
background-color:#ff00ff;
}
.dec {
background-color:#ff0080;
}
.today {
background-color:white;
border: 3px dotted orange;
}
</style>
